<table class="index" data-role="listview">
	<tbody id='line-items'>
		<tr class="ui-bar-b" data-hook="order_details_line_items_headers">
			<th><%= t(:item) %></th>
			<th class="price"><%= t(:price) %></th>
			<th class="qty"><%= t(:qty) %></th>
			<th class="total"><span><%= t(:total) %></span></th>
		</tr>

		<% @order.line_items.each do |item| %>
		<tr data-hook="order_details_line_item_row">
	        <td data-hook="order_item_description">
	          <h4><%= item.variant.product.name %></h4>
	          <%= truncate(raw(item.variant.product.description), :length => 100, :omission => "...") %>
	          <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
	        </td>
	        <td data-hook="order_item_price" class="price"><span><%= item.variant.display_amount %></span></td>
	        <td data-hook="order_item_qty"><%= item.quantity %></td>
	        <td data-hook="order_item_total" class="total"><span><%= item.display_amount %></span></td>
		</tr>
		<% end %>
	</tbody>
	<tfoot id="subtotal" data-hook="order_details_subtotal">
		<tr class="total" id="subtotal-row">
			<td colspan="4"><b><%= t(:subtotal) %>:</b></td>
			<td class="total"><span><%= @order.display_item_total %></span></td>
		</tr>
	</tfoot>
	<tfoot id="order-charges" data-hook="order_details_adjustments">
		<% @order.adjustments.eligible.each do |adjustment| %>
		<% next if (adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
		<tr class="total">
			<td colspan="4"><strong><%= adjustment.label %></strong></td>
			<td class="total"><span><%= adjustment.display_amount %></span></td>
		</tr>
		<% end %>
	</tfoot>
	<tfoot id="order-total" data-hook="order_details_total">
		<tr class="total">
			<td colspan="4"><b><%= t(:order_total) %>:</b></td>
			<td class="total"><span id="order_total"><%= @order.display_total %></span></td>
		</tr>
	</tfoot>
</table>
